.main-img {
  background-image: url(https://i.pinimg.com/564x/b7/58/c2/b758c29caedf9fb486bdf745981c0f78.jpg);
  background-size: cover !important;
  height: 100%;
  min-height: 100vh;
  padding-top: 60px;
  padding-bottom: 60px;
}

.container {
  max-width: 1300px;
}

.task-container {
  background-color: white;
  padding: 50px 0;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.main-box {
  background: white;
  margin-top: 50px;
  margin-bottom: 50px;
}

.card {
  border: 0px solid rgba(255, 255, 255, 0);
  align-items: center;
}
