.btn-task {
  color: white;
  background-color: #4c5def;
  padding: 15px 15px;
  width: 100%;
  text-align: center;
  a {
    text-decoration: none;
  }
}

.btn-task:hover {
  text-decoration: none;
  font-weight: bolder;
  color: white;
}

.custom {
  padding: 20px 20px;
}

.btn-black:hover {
  background-color: black;
  color: white;
  border: 1px solid black;
}
