table {
  margin-right: 30px;
  margin-left: 30px;
  border-collapse: separate;
  border-spacing: 0 15px;
}

th {
  padding: 8px 16px;
  p {
    color: #1f1f1f;
  }
}

td {
  padding: 30px 16px;
}

tr.tasks-dashboard {
  margin-bottom: 8px;
  background-color: #EDEDED;
  border: 1px solid #EDEDED;
  border-radius: 20px;
  padding: 20px 0px;
}

.logo-container {
  display: flex;
  align-items: center;
  padding-left: 30px;
  p {
    font-size: 18px;
    font-weight: bolder;
  }
}

.logo {
  margin-right: 20px;
}

.baseline {
  padding-top: 20px;
}

.dashboard-left {
  flex-grow: 1;
}

.dashboard-right {
  .form-inputs {
    label {
      color: white;
    }
  }
  .form-actions .btn {
    background-color: white;
    border: 1px solid white;
    width: 100%;
    color: #4c5def;
    font-weight: bolder;
  }
  .form-actions .btn:hover {
    background-color: black;
    border: 1px solid black;
    color: white;
  }
}

.info-group {
  display: flex;
  justify-content: space-between;
}

.display-left {
  flex-grow: 1;
  background-color: #eeeef9;
  border-radius: 15px;
  padding: 16px 32px;
  color: black;
  margin-bottom: 20px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  a {
    text-decoration:none;
    color: black;
  }
}

.display-left:hover {
  background-color: rgb(255, 198, 110);
  color: white;
  p {
    color: white;
  }
  a {
    text-decoration: none;
    color: white;
  }
}

.main-section {
  padding-top: 10px;
}

.title-section {
  width: 150px;
  font-weight: bolder;
  padding-bottom: 10px;
}

.comments-section {
  p {
    color: #575757;
    margin: 0px;
  }
}

#custom-task {
  background-color: rgb(255, 198, 110);
  margin: 0px 20px;
  border-radius: 32px;
  padding: 16px 32px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  i {
    text-decoration: none;
    color: white
  }
}

#custom-task:hover {
  a {
    text-decoration: none;
  }
}

#collapseAddTask {
  box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 6px;
  background-color: #4c5def;
  padding: 20px 20px;
}

#elements-task {
  justify-content: space-between;
}

#container-right {
  background-color: #4c5def;
  padding-top: 20px;
}

#new_task {
  margin-top: 40px;
}

#custom-main {
  margin: 40px 50px;
}


#add-block {
  background-color: #4c5def;
}

#priority-cell {
  width: 5%;
}

#title-cell {
  width: 30%;
}

#comments-cell {
  width: 40%;
}

#deadline-cell {
  width: 15%;
}

#completed-cell {
  width: 5%;
}

#trash-cell {
  width: 5%;
}

